.form-group {
    position: relative;
    margin-bottom: 20px;
}

.form-group input {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.ggg {
    margin-top: 5px;
    font-size: 14px;
    color: #555;
}

body input {
    border: 1px solid #959191;
    
    padding: 12px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;


}

body {
    background-color: rgb(234, 233, 255);
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

.qogoz {
    max-width: 50%;
    background-color: #ffffff;
    margin: 50px auto;
    padding: 30px;
    border-radius: 8px;


}

div {
    padding: 20px;
}

.group input{
    width: 47.2%;
}

.hi input{
    width: 100%;
    
}
.pol input{
    width: 40%;
}
.jjjj input{
    width: 100%;
}
.low input{
    width: 33%;
    text-align: left;
}
.rel input{
    width: 38%;
    text-align: left;
}
.fef input{
        width: 100%;
        height: 100px;
        text-align: center;
}

button{
    width: 150px;
    height: 50px;
    border-radius: 8px;
    color: #ffffff;
    background-color: rgb(44, 61, 95);
    margin: 20px auto;

}
.bbut{
    display: flex;
    justify-content: center ;
}